<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Добавьте эти разрешения здесь -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Для Android 10+ также рекомендуется добавить -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/furrytrack"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/furrytrack"
        android:supportsRtl="true"
        android:theme="@style/Theme.FurryTrack">

        <activity
            android:name=".Market.AddNewPetActivity"
            android:exported="false" />
        <activity
            android:name=".Market.CategoryPetActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.ProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".Market.MarketActivity"
            android:exported="false" />
        <activity
            android:name=".Market.AdminDeletePostsActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BasicPetsWind.PetActivity" />
        <activity
            android:name=".BasicPetsWind.AddPetActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".BasicPetsWind.PetDetailsActivity" />
        <activity android:name=".SettingsActivity" />
    </application>

</manifest>